# <%~ it.instance.slug %>: Detailed Design / As-built

# Business process flows

<%~ it.modules['as-built-notes']['business-process-flows'] %>

# Detailed technical design

<%~ it.modules['as-built-notes']['detailed-technical-design'] %>

# Infrastructure and configuration

<%~ it.modules['as-built-notes']['infrastructure-and-configuration'] %>

# Changes from the agreed design

<%~ it.modules['as-built-notes']['changes-from-design'] %>

# Acceptance criteria

<%~ it.modules['as-built-notes']['acceptance-criteria'] %>
<% if (it.modules['as-built-notes']['operational-notes']) { %>
# Operational notes

<%~ it.modules['as-built-notes']['operational-notes'] %>
<% } %>

# Handover confirmation

<%~ it.modules['as-built-notes']['handover-confirmation'] %>
