# <%~ it.instance.slug %>: Full Solution on a Page

## Metadata

| Field | Value |
| --- | --- |
| Epic/Project | <%~ it.modules['soap-full-details']['epic-project'] %> |
| Requested/lead by | <%~ it.modules['soap-full-details']['requested-lead-by'] %> |
| Request date | <%~ it.modules['soap-full-details']['request-date'] %> |
| Draft agreed date | <%~ it.modules['soap-full-details']['draft-agreed-date'] %> |
| SOAP/estimate delivered date | <%~ it.modules['soap-full-details']['delivered-date'] %> |

# Introduction

## Problem statement

<%~ it.modules.context.driver %>

# Opportunity

<%~ it.modules.context.opportunity %>

# In Scope

<%~ it.modules.context['in-scope'] %>

# Out of Scope

<%~ it.modules.context['out-of-scope'] %>

# High Level Requirements

<%~ it.modules['solution-definition']['high-level-requirements'] %>

# High level solution overview

<%~ it.modules['solution-definition']['high-level-solution-design'] %>

# Teams required

<% it.modules['team-and-estimates']['teams-and-contacts'].forEach(function(item) { %>- <%~ item %>
<% }) %>

# Dependencies

<%~ it.modules.dependencies['dependencies-overview'] %>

# Assumptions

<%~ it.modules['solution-definition']['assumptions-and-considerations'] %>

# Estimates

<%~ it.modules['team-and-estimates'].estimates %>

# Sequencing

_Note: sequencing is a possible example based on timeframes estimated for each piece of this work. It does not represent capacity available to do this work and will need to be re-planned prior to development beginning._

<%~ it.modules['soap-full-details'].sequencing %>

# Questions

<%~ it.modules['soap-full-details'].questions %>

# Caveats

<%~ it.modules['soap-full-details'].caveats %>

# References

<% it.modules['team-and-estimates'].references.forEach(function(item) { %>- <%~ item %>
<% }) %>
